.message {
	position: absolute;
	top: 7rem;
	width: 100%;
	height: 2rem;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	color: red;
	font-size: 1.5rem;
	padding-inline: 2rem;
	display: flex;
	gap: 1rem;
}

.message:hover {
	background-color: transparent;
}
