.footer {
	display: flex;
	justify-content: space-between;
	height: 182px;
	border-top: 1px solid #d9d9d9;
	background-color: var(--white);
	padding-top: 32px;
	padding-inline: 63px;
}

.footer-logo {
	height: 40px;
	width: 161px;
}

.footer-list {
	display: flex;
	gap: 12pxi;
}

.footer-link {
	height: 38px;
	padding-left: 38px;
}
