* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #231f20;
	--orange: #ee4344;
	--light-grey: #f2eff0;
	--white: #ffffff;
	--link: #f5f5f5;
	--fs: 16px;
	--Border-Default: #d9d9d9;
	--Border-radius-Default: 10px;
}

@font-face {
	font-family: "Lato";
	src: url("./assets/fonts/Lato/Lato-Regular.ttf");
	src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "raleway";
	src: url("./assets/fonts/Raleway/static/Raleway-Bold.ttf");
	src: url("./assets/fonts/Raleway/static/Raleway-Medium.ttf") format("ttf");
}

a {
	color: var(--black);
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font-family: Lato, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	font-size: var(--fs);
	overflow-x: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 7rem auto 7rem;
}

main {
	grid-area: "main";
	background-color: var(--light-grey);
	min-height: 40rem;
	max-height: auto;
	display: grid;
	align-content: center;
	justify-content: center;
}

.container {
	width: 50%;
	margin: auto;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding-top: 50px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="date"],
select {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

button {
	display: block;
	margin-top: 20px;
	padding: 10px;
	background: #2642c0;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background: #7c7803;
}

.tender-container {
	height: 40rem;
	width: 100%;
	color: black;
	display: grid;
	justify-content: center;
	gap: 1rem;
}

.tender-card {
	text-decoration: none;
	color: black;
	width: 70rem;
	height: auto;
	background-color: #e9e9e9;
	padding: 1rem;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-block: 2rem;
}

.tender-description {
	display: block;
	line-clamp: 4;
	overflow: hidden;
}

.bid-container {
	height: 40rem;
	width: 100%;
	color: black;
	display: grid;
	justify-content: center;
	gap: 1rem;
}
