.main {
	position: relative;
}

.message {
	position: absolute;
	top: -5rem;
	width: 100%;
	height: 2rem;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	color: red;
	font-size: 1.5rem;
	padding-inline: 2rem;
	display: block;
	gap: 1rem;
}

.message:hover {
	background-color: transparent;
}

.error-list {
	display: block;
	gap: 1rem;
}
