.tenders-container {
	width: 100vw;
	padding: 20px;
	background: #ffffff;
}

.tenders-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.tenders-table th {
	color: #767676;
	font-weight: 400;
	height: 30px;
	gap: 0px;
	border: 0px 0px var(--Border-Default);
	opacity: 0px;
}

.tenders-table th,
.tenders-table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.tenders-table tr:hover {
	background-color: #f1f1f1;
}

.error-message {
	color: red;
	margin-bottom: 20px;
}

.pagination-buttons {
	margin-top: 20px;
}

.pagination-buttons button {
	height: 40px;
	background: var(--black);
	border-radius: 8px;
	margin: 0;
	color: var(--white);
}

.pagination-buttons button:disabled {
	background-color: #ddd;
	cursor: not-allowed;
}

.pagination-buttons button:hover,
.pagination-buttons button:active {
	background-color: var(--orange);
}

td[data-status="Active"] {
	color: #14ae5c;
}

td[data-status="In review"] {
	color: #e5a000;
}

td[data-status="Awarded"] {
	color: #ec221f;
}

td[data-status="Closed"] {
	color: #8a226f;
}
