.tenders-container {
	width: 70vw;
	padding: 20px;
	background: #ffffff;
}

.tenders-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	table-layout: fixed;
}

.tenders-table th {
	color: #767676;
	font-weight: 400;
	height: 30px;
	gap: 0px;
	border: 0px 0px var(--Border-Default);
	opacity: 0px;
}

.tenders-table th,
.tenders-table td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	overflow: hidden;
}

.tenders-table tr:hover {
	background-color: #f1f1f1;
}

.error-message {
	color: red;
	margin-bottom: 20px;
}

.pagination-buttons {
	margin-top: 20px;
}

.pagination-buttons button {
	height: 40px;
	background: var(--black);
	border-radius: 8px;
	margin: 0;
	color: var(--white);
}

.pagination-buttons button:disabled {
	background-color: #ddd;
	cursor: not-allowed;
}

.pagination-buttons button:hover,
.pagination-buttons button:active {
	background-color: var(--orange);
}

td[data-status="Active"] {
	color: #14ae5c;
}

td[data-status="In review"] {
	color: #e5a000;
}

td[data-status="Awarded"] {
	color: #ec221f;
}

td[data-status="Closed"] {
	color: #8a226f;
}

.tender-id {
	font-weight: 700;
}

.tender-id:hover {
	color: #ec221f;
	text-decoration: underline;
}

/*======New UI for Tables=====*/

.container {
	width: 70vw;
	padding: 20px;
	background: none;
	box-shadow: none;
	display: grid;
	gap: 2rem;
}

.card {
	background-color: #ffffff;
	height: auto;
	border: 1px solid var(--Border-Default);
	border-radius: var(--Border-radius-Default);
	padding: 20px;
	display: grid;
	gap: 1rem;
}

.posted-on {
	color: #757575;
}

.posted-on-date {
	font-style: italic;
}

.cover-letter {
	background-color: var(--light-grey);
	padding: 20px;
	border-radius: var(--Border-radius-Default);
}

.btn {
	background-color: var(--black);
	border-radius: var(--Border-radius-Default);
	padding: 12px;
	color: var(--white);
}

.btn:hover,
.btn:active {
	background-color: var(--orange);
}

.heading {
	text-align: center;
}

.btn-container {
	display: flex;
	gap: 2rem;
}

.btn a {
	color: #ffffff;
}

.bid-status {
	font-weight: 700;
	margin-left: 1rem;
}

.msg {
	text-align: center;
}

.toggle-text {
	background: none;
	border: none;
	color: var(--black);
	cursor: pointer;
	font-size: 0.8em;
	padding: 0;
	font-weight: 700;
	margin-top: 5px;
}

.toggle-text:hover {
	background-color: transparent;
	color: red;
}

.tenders-table td.description {
	width: 1000px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.showSubmitButton {
	display: block;
}

.hideSubmitButton {
	display: none;
}

.details {
	display: flex;
	justify-content: space-between;
}

span[data-status="Active"] {
	color: #14ae5c;
}

span[data-status="In review"] {
	color: #e5a000;
}

span[data-status="Awarded"] {
	color: #ec221f;
}

span[data-status="Closed"] {
	color: #8a226f;
}

.tender-id {
	font-weight: 700;
}

.tender-id:hover {
	color: #ec221f;
	text-decoration: underline;
}
.right {
	text-align: right;
}
.last-update {
	color: #757575;
	font-size: 1rem;
}
